body {
  background-color: #edc9f9;
}
.App {
  background-color: aliceblue;
  min-height: 500px;
  width: 400px;
  margin: 40px auto;
}
#to-do-form input {
  background-color: lavender;
  width: 200px;
  height: 50px;
  padding: 0 20px;
  margin: 20px;
  border-color: lavenderblush;
  font-size: large;
  border-radius: 10px;
  border: 0;
}
#to-do-form input::placeholder {
  color: hotpink;
  font-family: monospace;
}
#to-do-form button {
  height: 50px;
  width: 80px;
  border-radius: 5px;
  border: 0;
  background-color: mediumslateblue;
  cursor: pointer;
  font-weight: bolder;
  color: whitesmoke;
}
